@tailwind base;
@tailwind components;
@tailwind utilities;

.list {
  max-width: 460px;
  margin:auto;
  display:flex;
  flex-direction:column;
  gap:10px;
  padding:10px;
}

.listItem {
  background-color: #f1f1f1c7;
  border-radius: 20px;
  box-shadow:0 2px 4px rgba(0,0,0,0.2);
  padding:25px;
  display:flex;
  justify-content: space-between;
}

.listItem > div {
  padding: 15px;
}

.icon {
  background-color: transparent;
}

.icon > svg {
  width:25px;
  height:25px;
}

.icon > .arrival {
  fill: rgb(8, 155, 8);
}

.icon > .away {
  fill: rgb(199, 10, 10);
}

.personName {
  background-color: transparent;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-size: 22px;
  
}

.timestamp {
  background-color: transparent;
  text-decoration-line: underline;
  font-size: 18px;
}