@tailwind base;
@tailwind components;
@tailwind utilities;

.list {
  max-width:400px;
  margin:auto;
  display:flex;
  flex-direction:column;
  gap:10px;
  padding:10px;
}

.listItem {
  background-color: #f8f8f8;
  border-radius:20px;
  box-shadow:0 2px 4px rgba(0,0,0,0.2);
  padding:20px;
  display:flex;
  justify-content: space-between;
}

.listItem > div {
  padding: 15px;
}

.icon {
  background-color: transparent;
}

.icon > svg {
  width:20px;
  height:20px;
}

.icon > .arrival {
  fill: green;
}

.icon > .away {
  fill: red;
}

.personName {
  background-color: transparent;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.timestamp {
  background-color: transparent;
  text-decoration-line: underline
  
}